h1 {
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    border: 5px solid black;
    padding-left: 10px;
}

.center {
    text-align: center;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 5px solid black;
    padding-top: 20px;
}

.leftC {
    text-align: left;
    display: block;
    width: 90%;
    margin-top: 10px;
    border: 5px solid black;
    padding-top: 20px;
    padding-left: 10px;
}


.rightC {
    align-self: right;
    text-align: left;
    display: block;
    width: 90%;
    margin-top: 10px;
    border: 5px solid black;
    padding-top: 20px;
    padding-left: 10px;
}

.background {
    background-color: lightblue;
}

.column {
    flex: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inline-elements {
    display: flex;
    align-items: center;
}

/*.inline-elements label: This selects all <label> elements that are descendants of an element 
with the class inline-elements.
.inline-elements p: This selects all <p> (paragraph) elements that are descendants of an element 
with the class inline-elements.*/
.inline-elements label, .inline-elements p {
    margin-right: 5px;
}
